@import "src/assets/variables";

footer.modal-card-foot {
  padding-top: 10px;
  padding-bottom: 10px;
}
div.modal-content {
  border-radius: 6px;
}

div::-webkit-scrollbar {
  width: 0.25rem;
}

div::-webkit-scrollbar-track {
  background: $primary-light;
}

div::-webkit-scrollbar-thumb {
  background: $dark;
}