@import "src/assets/variables";

@media(max-width: $mobile) {
  .columns.columns-content {
    flex-direction: column-reverse;
    display: flex;
  }
}

.box {
  p.subtitle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    
    .add-category {
      margin-left: 2rem;
    }
  }

  hr {
    margin-top: 0;
  }
}